/myenv
/DbManager/App/DbManager/migrations
/DbManager/App/DbManager/__pycache__
/DbManager/App/App/__pycache__
/WpManager/MariaDB
/WpManager/App/App/__pycache__
/WpManager/App/WpManager/migrations
/WpManager/App/WpManager/__pycache__
*.pyc